.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: #ccc;
  margin: 0;
  overflow-y: auto;
}
